.hero {
    height: 120rem;
    padding-top: 14rem;
    background-image: url("../img/hero_ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom 11rem;
}
