@media (max-width: 1400px) {
  .main {
    &::before {
      background-position: center 130rem, center 130rem;
      background-size: 100%, 100%;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    &::before {
      background-position: center 133rem, center 136rem;
      background-size: 100%, 100%;
    }
  }

  .hero {
    &::before,
    &::after {
      background-position: 0% 95%;
      background-size: 38rem 27rem, 39rem 31rem;
    }
  }

  .booking {
    padding: 0 5rem;
  }

  .about {
    &__images {
      background-image: url("../img/table.webp");
    }
  }
}

@media (max-width: 992px) {
  .main {
    &::before {
      background-position: center 114rem, center 116rem;
      background-size: 100%, 100%;
    }
  }

  .title {
    font-size: 4.8rem;
  }

  .hero,
  .popular,
  .about,
  .booking {
    margin-bottom: 4rem;
  }

  .hero {
    height: 100rem;
    &::before,
    &::after {
      background-position: 0% 95%;
      background-size: 28rem 20rem, 28rem 27rem;
    }
  }

  .popular {
    &__list {
      margin-bottom: 4rem;
      gap: 9rem;
      column-gap: 5rem;
    }
  }

  .product-card {
    &__name {
      font-size: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .main {
    &::before {
      background-position: center 252rem, center 252rem;
      background-size: 100%, 100%;
    }
  }

  .title {
    font-size: 3.8rem;

    &::before,
    &::after {
      margin-top: 0rem;
    }
  }

  .hero {
    height: 80rem;
    padding-top: 20rem;

    &::before,
    &::after {
      width: 14rem;
      height: 26rem;
      background-size: 14rem 11rem, 13rem 14rem;
      background-position: 0 60%;
    }
  }

  .burger {
    display: block;
  }

  .nav {
    &__btn {
      display: none;

      &-mobile {
        display: block;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    background: hsl(0 0% 0% / 0.6);
    backdrop-filter: blur(1rem);
    transform: translateX(200%);
    transition: transform 350ms ease-out;

    a {
      font-size: 3rem;
    }
  }

  .open {
    transform: translateX(0);
  }

  .about {
    &__title {
      margin-bottom: 2rem;

      span {
        margin-bottom: 0;
      }
    }

    &__inner {
      gap: 2rem;
    }

    &__content {
      width: 55rem;
    }

    &__text {
      margin-bottom: 2rem;
    }

    &__breakfast {
      transform: translateY(-2rem);
    }
  }

  .form {
    &__inner {
      grid-template-columns: 1fr;
    }
  }

  .reviews {
    margin-bottom: 5rem;

    &__title {
      text-align: center;
      margin-bottom: 20px;
    }
    &__head {
      padding-right: 0;
      display: block;
      margin-bottom: 3rem;
    }

    &__nav {
      justify-content: center;
      gap: 10px;
    }

    &__arrow {
      &::active {
        color: red;
        background-color: red;
      }
    }
  }

  .reviews-card {
    padding: 0;
    text-align: center;
    max-width: 100%;

    &__title {
      max-width: 100%;
      text-align: center;
      margin-bottom: 3rem;
    }

    &__info {
      flex-direction: column;
      justify-content: center;
    }

    &__photo {
      width: 10rem;
      height: 10rem;
    }
  }

  .footer {
    padding: 5rem 0 5rem;

    &__inner {
      gap: 3rem;
    }
  }

  .footer-menu {
    gap: 3rem;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 2.8rem;

    &--lines {
      gap: 0.5rem;
    }
  }

  .menu {
    padding: 15px;

    a {
      font-size: 2rem;
    }
  }

  .search-form {
    &__input {
      padding: 0.6rem;
    }
  }

  .hero {
    margin-bottom: 0;

    &::before,
    &::after {
      background-size: 14rem 11rem, 13rem 13rem;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .popular {
    &__title {
      text-align: center;
    }

    &__list {
      grid-template-columns: repeat(auto-fill, 315px);
    }
  }

  .about {
    margin-bottom: 7rem;

    &__content {
      width: 100%;
      text-align: center;
    }

    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__breakfast {
      transform: translateY(0rem) translateX(-1rem);
    }

    &__images {
      width: 30rem;
      height: 30rem;

      background-position: center;
    }
  }

  .booking {
    padding: 0;
    &__inner {
      margin-bottom: inherit;
      padding: 10rem 1rem 6rem;

      &::before {
        width: 14rem;
        height: 14rem;
        top: -3rem;
        left: -4rem;
      }

      &::after {
        width: 11rem;
        height: 11rem;
        bottom: 2.5rem;
        right: -3rem;
        transform: scaleX(-1);
      }
    }
  }

  .footer-menu {
    gap: 17px;

    &__link {
      font-size: 12px;
    }
  }
}
