.product-card {
    padding: 23rem 5rem 4rem;
    background-color: $c-white;
    border-radius: 2.4rem;
}
.product-card__content {
}
.product-card__img {
}
.product-card__name {
}
.product-card__price {
}
.product-card__order {
}
