.social {
  display: flex;
  gap: 4rem;

  &__link {
    display: block;
    width: 24px;
    height: 24px;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-size: contain;
    -webkit-mask-size: contain;

    mask-position: center;
    -webkit-mask-position: center;

    background-color: $c-orange;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $c-white;
      box-shadow: 0px 0px 37px 0px rgba($c-orange, 0.45);
      -webkit-box-shadow: 0px 0px 37px 0px rgba($c-orange, 0.45);
      -moz-box-shadow: 0px 0px 37px 0px rgba($c-orange, 0.45);
    }
  }
}
